<%= form_with model: @customer, url: mypage_update_customers_path, method: :patch do |f| %>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>会員情報編集</h2>
    </div>
  </div>
</div>