<table class="table">
  <thead>
    <tr>
      <th class="col-2">企業名</th>
      <th class="col-2">郵便番号</th>
      <th class="col-4">住所</th>
      <th class="col-2">電話番号</th>
      <th class="col-2"></th>
    </tr>
  </thead>
  <tbody>
    <% companies.each do |company| %>
      <%= render "admin/companies/index-content", company: company %>
    <% end %>
  </tbody>
</table>