<div class="container">
  <div class="row">
    <!--<!%= render 'layouts/error', message: @company %>-->
    <div class="col-10 offset-2 mb-3">
      <h2>回線企業登録</h2>
    </div>
    <div class="col">
      <%= render "admin/companies/form", company: @company %>
    </div>
  </div>
</div>