<% @area_list.each do |list|%>
  <%= link_to list.name,  %>
  <%="(#{list.areas.count})" %>
<% end %>

<% @plan_details.each do |plan_detail| %>
  <% if plan_detail.plan_code == @plan %>
    <div>
      <%= plan_detail.plan_text %>
    </div>
  <% end %>
<% end %>