<h1>Public::Homes#about</h1>
<p>Find me in app/views/public/homes/about.html.erb</p>
<% @plan_details.each do |plan_detail| %>
  <% if plan_detail.plan_code == @plan %>
    <div>
      <%= plan_detail.plan_text %>
    </div>
  <% end %>
<% end %>