<div class="container-fluid">
  <div class="row top-image">
    <div class="col-12">
      <h2 class="site-theme">アイデル・コネクト</h2>
      <h3 class="top-title">あなたのライフスタイルに合ったサービスを見つけよう!</h3>
      <% unless admin_signed_in? || customer_signed_in? %>
        <%= link_to "ゲストログイン", customers_guest_sign_in_path, class: "guest-login btn btn-sm btn-block mb-3 sign_in", method: :post %>
      <% end %>
    </div>
  </div>
  <div class="top-content row d-flex justify-content-center">
    <div class="col-11 col-md-5 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title marked-heading">当サイトについて</h4>
          <p class="card-text">
            テレビ、電話、そしてインターネットを契約する際、
            最適なプランを見つけるのは容易ではありません。<br>
            当サイトでは、あなたのニーズに合った通信サービスを比較し、
            サービスのユーザーの体験談を提供いたします。<br>
            最新のプラン、料金、特徴を網羅し、
            あなたのライフスタイルにマッチした最適な選択肢を見つけるお手伝いをします。
          </p>
        </div>
      </div>
    </div>
    <div class="col-11 col-md-5 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title marked-heading">特徴や提供する情報</h4>
          <p class="card-text">・テレビ、電話、インターネットサービスのプラン比較</p>
          <p class="card-text">・料金や特典の詳細情報</p>
          <p class="card-text">・ユーザーのレビューや評価</p>
          <p class="card-text">・プランに含まれる機能やオプションの説明</p>
        </div>
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <% @companies.each do |company| %>
          <div class="swiper-slide">
            <%= render partial: "public/companies/company-card", locals: { company: company } %>
          </div>
        <% end %>
      </div>
      <div class="swiper-style"></div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>