<table class="table">
  <thead>
    <tr>
      <th class="col-2">投稿日</th>
      <th class="col-2">名前</th>
      <th class="col-6">内容</th>
      <th class="col-2"></th>
    </tr>
  </thead>
  <tbody>
    <% reviews.each do |review| %>
      <%= render "admin/reviews/index-content", review: review %>
    <% end %>
  </tbody>
</table>