<table class="table">
  <thead>
    <tr>
      <th class="col-2">登録日</th>
      <th class="col-4">企業名</th>
      <th class="col-4">プラン名</th>
      <th class="col-2"></th>
    </tr>
  </thead>
  <tbody>
    <% line_plans.each do |line_plan| %>
      <%= render "admin/line_plans/index-content", line_plan: line_plan %>
    <% end %>
  </tbody>
</table>