<div class="container">
  <div class="row">
    <div class="col-10 offset-2 mb-3">
      <h2>回線プラン編集</h2>
    </div>
    <div class="col-12">
      <%= render "admin/line_plans/form", line_plan: @line_plan %>
    </div>
  </div>
</div>