$('#line-plan-list-content_<%= @line_plan.id %>').remove();
<!--フラッシュメッセージを表示。-->
$('#flash').show()
<!--フラッシュの内容を@line_plan.valid?で、validationの結果によってture:falseの場合で色を変え、@messegeの内容を変更する。-->
$('#flash').html('<div class="alert alert-<%= j(@line_plan.valid? ? 'primary' : 'danger') %> text-center" role="alert"><strong><%= j(@messege) %></strong></div>');
<!--表示したメッセージを３秒後にゆっくり非表示。-->
$('#flash').delay(3000).fadeOut('slow');