<div class="container">
  <div class="row">
    <div class="col">
      <h2>回線プラン情報ページ</h2>
      <div class="row">
        <div class="side-content col-12 col-lg-4">
          <div class="side-content-sticky row mb-3">
            <%= render "layouts/company-table", company: @line_plan.company %>
            <div class="col-11 offset-1">
              <%= link_to "企業情報編集", edit_admin_company_path(@line_plan.company) %>
              |
              <%= link_to "プラン情報編集", edit_admin_line_plan_path(@line_plan) %>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <%= render "layouts/line_plan-show-card", line_plan: @line_plan %>
        </div>
      </div>
    </div>
  </div>
</div>