<div class="container">
  <div class="row">
    <div class="col">
      <h2>回線プラン一覧</h2>
      <div class="row row-cols-1 row-cols-md-2">
        <% @line_plans.each do |line_plan| %>
          <div class="col" onclick="window.location='<%= line_plan_path(line_plan) %>'" role="link">
            <%= render "layouts/line_plan-card", line_plan: line_plan %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>