<div class="container">
  <div class="row">
    <div class="col">
      <h2>回線プラン情報ページ</h2>
      <div class="row">
        <div class="side-content col-12 col-lg-4">
          <div class="side-content-sticky row">
            <%= render "layouts/company-table", company: @line_plan.company %>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <%= render "layouts/line_plan-show-card", line_plan: @line_plan %>
          <div id="review-action">
            <%= render "public/line_plans/review", line_plan: @line_plan, review: @review %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>