<div class="container">
  <div class="row">
    <div class="col">
      <h2>企業情報ページ</h2>
      <div class="row">
        <div class="side-content col-12 col-lg-4">
          <div class="side-content-sticky row">
            <%= render "layouts/company-table", company: @company %>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col-12">
              <h2>プラン一覧</h2>
            </div>
          </div>
          <% if @company.line_plans.any? %>
            <% @company.line_plans.each do |line_plan| %>
              <div onclick="window.location='<%= line_plan_path(line_plan) %>'" role="link">
                <%= render "layouts/line_plan-card", line_plan: line_plan %>
              </div>
            <% end %>
          <% else %>
            <p>現在、こちらの企業に登録されているプランはありません。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>