@use '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

footer {
  position: sticky;
  top: 100vh;
  top: 100dvh;
}

// 長文省略表示の設定。
.text-omission {
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

// formの設定。
.image_tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  margin-bottom: 10px;
}

label {
  margin: 0;
}