/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

footer {
  position: sticky;
  top: 100vh;
}

/*長文省略表示の設定。*/
.text-omission {
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

/*formの設定。*/
.image_tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  margin-bottom: 10px;
}

label {
  margin: 0;
}

.table {
  margin: 0;
}

/*modalの設定*/
.modal-header {
  border-bottom: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(195, 219, 255, 0.2);
  backdrop-filter: blur(20px);
  --webkit-backdrop-filter: blur(20px);
  border-right: 1px solid rgba(112, 175, 255, 0.5);
  transition: width 0.3s ease;
  z-index: 5;
}

.sidebar.active {
  width: 260px;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  padding: 25px 10px 15px;
}

.logo img {
  width: 70px;
  border-radius: 50%;
}

.logo h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 15px;
  display: none;
  color: #333;
}

.sidebar.active .logo h2 {
  display: block;
}

.sidebar .links {
  height: calc(100 - 140px);
  overflow-y: auto;
  scrollbar-width: none;
  list-style: none;
  margin-top: 20px;
}

/* スクロールバー非表示 */
.sidebar .links::-webkit-scrollbar {
  display: none;
}

.sidebar .links h4 {
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
  display: none;
}

.sidebar.active .links h4 {
  display: block;
}

.links li {
  text-align: left;
}

.links .menu {
  margin-left: 1rem;
}

.sidebar li:hover {
  background: white;
  border-radius: 5px;
}

.links hr {
  border-color: #333;
  margin: 10px 8px;
}

.sidebar.active .links hr {
  border-color: transparent;
}

.links li span {
  padding: 12px 10px;
}

.links li span i {
  color: #333;
  font-size: 1.3rem;
}

.links li a {
  color: #333;
  padding: 10px;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  display: none;
}

/*サイドバー*/
.sidebar.active .links li a {
  display: block;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 50px;
  }
  .sidebar.active {
    width: 200px;
  }
  .logo img {
    width: 50px;
  }
}
/*レスポンス時。*/
@media screen and (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    border-bottom: 1px solid rgba(112, 175, 255, 0.5);
  }
/*表示サイズを上部で収める。*/
  .sidebar.active {
    height: 350px;
    width: 100%;
  }
/*中央寄せに変更。*/
  .links .menu {
    margin: 0;
  }
  .links li {
    display: flex;
    align-items: center;
  }
  .sidebar .links h4 {
    text-align: center;
  }
}