/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "sidebar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  background: linear-gradient(rgba(195, 219, 255, 0.2) 0%, rgba(22, 135, 237, 0.6) 100%);
  object-fit: cover;
}

main {
  margin: 30px 0 0 30px;
}

footer {
  position: sticky;
  /*footerの大きさ分引いた位置に設置。*/
  top: calc(100vh - 72px);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
  background-color: rgba(255, 255, 255, 0.2);
}
/*トップ。*/
.top-image {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:  image-url("line.png");
}
.top-title {
  margin: 40px 0 0 50px;
}

.side-content {
  min-height: 100%;
}
.side-content-sticky {
  position: sticky;
  top: 5%;
}

/*長文省略表示の設定。*/
.text-omission {
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

/*formの設定。*/
.image_tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  margin-bottom: 10px;
}

label {
  margin: 0;
}

.table {
  margin: 0;
}

.table thead th, .table tbody td, .table th {
  border-top: 0;
  border-bottom: 2px solid rgba(97, 121, 115, 0.5);
}

/*modalの設定*/
.modal-header {
  border-bottom: none;
}

.line_plan_items {
  list-style: none;
}

/*ログイン画面*/
.marked-heading {
  background: linear-gradient(rgba(195, 219, 255, 0.2) 0%, rgba(22, 135, 237, 0.6) 100%);
  text-align: center;
  margin-bottom: 20px;
}

/*レスポンス時。*/
@media screen and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
  main {
    margin-top: 60px;
  }
}