<footer>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="mb-4 mx-auto">
        <!--モーダルボタン-->
        <div class="button_new">
          <button type="button" class="btn" data-toggle="modal" data-target="#inquiriesModal" data-whatever="@customer"><%= t('views.button.お問い合わせはこちら') %></button>
        </div>
      </div>
    </div>
  </div>
</footer>