<header id="header">
  <nav class="navbar mb-3 navbar-expand-lg navbar-dark bg-dark">
    <%= link_to root_path, class: "navbar-brand active" do %>アイデル・コネクト<% end %>
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!--header内のコンテンツを、helperを活用し編集を行いやすくする為-->
        <%= render partial: "layouts/nav_item", collection: nav_items, as: :item %>
      </ul>
    </div>
  </nav>
</header>