<aside class="sidebar">
  <div class="logo">
    <i class="fa-solid fa-wave-square"></i>
    <h2>IdealConnect</h2>
  </div>
    <ul class="links">
      <hr>
      <h4>Main Menu</h4>
      <div class="menu">
        <!--header内のコンテンツを、helperを活用し編集を行いやすくする為-->
        <%= render partial: "layouts/nav_item", collection: nav_items, as: :item %>
      </div>
      <hr>
    </ul>
  </div>
</aside>