<table class="table">
  <thead>
    <tr>
      <th>メニュー</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "企業登録", new_admin_company_path %></td>
    </tr>
    <tr>
      <td><%= link_to "プラン登録", new_admin_line_plan_path %></td>
    </tr>
  </tbody>
</table>